{% extends 'base.twig' %}
{% block head %}

	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>FCU測試選課系統</title>
	<link rel="stylesheet" type="text/css" href="{{ session.Css }}Dashboard/dashboard.css">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block body %}
	<div class="dashboad">
		<header class="title">FCU測試選課系統</header>
		<div class="sidebar-icon">☰</div>
		<aside class="sidebar">
			<div class="login-info">
				<header>登入資訊</header>
				<div class="info-item">
					<span>學號:</span>
					<span>{{ NID }}</span>
				</div>
				<div class="info-item">
					<span>學分上限:
					</span>
					<span>25</span>
				</div>
				<div class="info-item">
					<span>學分下限:
					</span>
					<span>12</span>
				</div>
				<div class="info-item">
					<span>已選學分:
					</span>
					<span>{{ total|default(0) }}</span>
				</div>
				<button id="logout">登出</button>
			</div>
			<div class="icontext">
				<div>
					<span id="1"></span>表示該節次為關注科目
				</div>
				<div>
					<span id="2"></span>表示該節次為已選科目
				</div>
				<div>
					<span id="3"></span>表示該節次為已登記科目
				</div>
				<div>
					<span id="4"></span>表示該節次有1科以上之關注科目
				</div>
			</div>
			<div class="calendar">

				<table>
					<thead>
						<tr>
							<th scope="row"></th>
							{% set days = ['一', '二','三','四','五','六','日'] %}
							{% for day in days %}
								<th scope="col" class="text-center">{{ day }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody class="text-center">
						{% for i in 0..12 %}
							<tr>
								<th scope="row">{{ i+1 }}</th>
								{% for j in 0..6 %}
									<td title="{{ attribute(_context, 'x' ~ j ~ 'y' ~ i ~ '-title')|default("") }}">{{ attribute(_context, 'x' ~ j ~ 'y' ~ i)|default("") }}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th scope="row" class="text-center">14</th>
							{% for j in 0..6 %}
								<td title="{{ attribute(_context, 'x' ~ j ~ 'y' ~ '13-title')|default("") }}">{{ attribute(_context, 'x' ~ j ~ 'y' ~ '13')|default("") }}</td>
							{% endfor %}
						</tr>
					</tfoot>
				</table>
			</div>
		</aside>
		<main class="main-content">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="search-tab" data-bs-toggle="tab" data-bs-target="#search" type="button" role="tab" aria-controls="search" aria-selected="true">課程檢索</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="selected-tab" data-bs-toggle="tab" data-bs-target="#selected" type="button" role="tab" aria-controls="selected" aria-selected="false">已選課表</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="search" role="tabpanel" aria-labelledby="search-tab">
					<form method="post" class="form-box">
						<p class="form-title mt-4">一、依照開課系所查詢：</p>
						<div class="p-3">
							<div class="row">
								<p class="col-md-6 col-xl-3 pl-5">學院：<input type="text" class="form-input" name="deptId"></p>
								<p class="col-md-6 col-xl-3 pl-5">系所：<input type="text" class="form-input" name="unitId"></p>
								<p class="col-md-6 col-xl-3 pl-5">班級：<input type="text" class="form-input" name="classId"></p>
							</div>
							<input type="submit" value="查詢" class="ml-4">
						</div>
					</form>
					{# <div class="px-3"></div> #}
					<form method="post" class="form-box check-value">
						<p class="form-title mt-4">二、依照輸入條件查詢：</p>
						<div class="row">
							<div class="col-xl-6">
								<div class="px-3">

									<div class="py-2">
										<input type="checkbox" id="courseCodeCheckbox" name="checkcode" class="mr-1">
										<label for="courseCodeCheckbox" class="ms-2">選課代碼：</label>
										<input type="number" class="" name="code">
									</div>
									<div class="py-2">
										<input type="checkbox" id="dayCheckbox" class="mr-1" name="checkweek">
										<label for="dayCheckbox" class="ms-2">星期：</label>
										<input type="number" class="w-25" name="week" min="1" max="7">
										<span class="ms-2">節次：</span>
										<input type="number" class="w-25" name="unit" min="1" max="14">
									</div>
									<div class="py-2">
										<input type="checkbox" id="subjectNameCheckbox" class="mr-1" name="checkcourse">
										<label for="subjectNameCheckbox" class="ms-2">科目名稱：</label>
										<input type="text" name="course">
									</div>

								</div>
							</div>
						</div>
						<input type="submit" value="查詢" class="ms-3 mb-3 mt-1">
					</form>
					<div id="search-result">
						<p class="mt-2 fs-6">查詢結果：</p>
						<div
							class="result">
							<!-- 查詢結果放這裡 -->
							{% if searchResult is defined and searchResult is not null %}
								{{ dump(searchResult) }}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="selected" role="tabpanel" aria-labelledby="selected-tab">
					<div id="function-area" class="selected-class">
						<div class="row pt-2">
							<div class="col-xl-6">
								<p>選課代碼：<input type="text" class=""><input type="submit" value="查詢"></p>
							</div>
							<div class="col-xl-6">
								<p class="pt-xl-0 pt-4">訊息區：</p>
							</div>
						</div>
					</div>
					<div id="selected-area" class="selected-class1">
						<div class="d-flex justify-content-center mb-4 mt-2">
							<table>
								<thead>
									<tr class="text-center">
										<th scope="row"></th>
										{% set days = ['星期一', '星期二','星期三','星期四','星期五','星期六','星期日'] %}
										{% for day in days %}
											<th scope="col">{{ day }}</th>
										{% endfor %}
									</tr>
								</thead>
								<tbody>
									{% for i in 0..12 %}
										<tr>
											<th scope="row" class="text-center">{{ i+1 }}</th>
											{% for j in 0..6 %}
												<td class="text-center">{{ attribute(_context, 'x' ~ j ~ 'y' ~ i ~ '-title')|default("") }}</td>
											{% endfor %}
										</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th scope="row" class="text-center">14</th>
										{% for j in 0..6 %}
											<td class="text-center">{{ attribute(_context, 'x' ~ j ~ 'y' ~ '13-title')|default("") }}</td>
										{% endfor %}
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="{{ session.Js }}Dashboard/dashboard.js"></script>
{% endblock %}
